{% extends 'base.html.twig' %}

{% block container %}
    <div class="row mt-5">
        <div class="col-12">
            <label>Wybierz miasto</label>
            <ul>
                <li>
                    <a href="{{ path('app.data_by_city', {'slug': 'gdansk'}) }}">Gdańsk</a>
                </li>
                <li>
                    <a href="{{ path('app.data_by_city', {'slug': 'krakow'}) }}">Kraków</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}