{% extends 'base.html.twig' %}

{% block container %}
    <div class="row">
        <div class="col-12">
            <h3>Dzielnice miasta {{ city }}</h3>
            <h5>Ilosc dzielnic - {{ data | length }}</h5>
            <a href="{{ path('app.index') }}">Back to main</a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-3">
            <form method="get">
                <div class="row justify-content-center mb-5" id="spinner-example-filters">
                    <p class="text-center fa-lg fw-bold">Powierzchnia:</p>

                    <div class="col-md-12 mt-12 text-center">
                        <div class="form-outline">
                            <input type="number"
                                   id="typeNumber" class="form-control active"
                                   name="squareMin"
                                   step="0.01"
                                   value="{% if squareMin is defined %}{{ squareMin }}{% else %}0{% endif %}">
                            <label class="form-label" for="typeNumber">Minimum</label>
                            <div class="form-notch"><div class="form-notch-leading"></div>
                                <div class="form-notch-middle" style="width: 61.6px;"></div><div class="form-notch-trailing"></div></div></div>
                    </div>

                    <div class="col-md-12 mt-12 text-center">
                        <div class="form-outline">
                            <input type="number"
                                   id="typeNumber2" class="form-control active"
                                   name="squareMax"
                                   step="0.01"
                                   value="{% if squareMax is defined %}{{ squareMax }}{% else %}0{% endif %}">
                            <label class="form-label" for="typeNumber2" style="margin-left: 0px;">Maximum</label>
                            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div></div>
                    </div>
                </div>

                <div class="row justify-content-center mb-5" id="spinner-example-filters">
                    <p class="text-center fa-lg fw-bold">Ilosc ludnosci:</p>

                    <div class="col-md-12 mt-12 text-center">
                        <div class="form-outline">
                            <input type="number" id="typeNumber" class="form-control active" name="populationMin" value="{% if populationMin is defined %}{{ populationMin }}{% else %}0{% endif %}">
                            <label class="form-label" for="typeNumber">Minimum</label>
                            <div class="form-notch"><div class="form-notch-leading"></div>
                                <div class="form-notch-middle" style="width: 61.6px;"></div><div class="form-notch-trailing"></div></div></div>
                    </div>

                    <div class="col-md-12 mt-12 text-center">
                        <div class="form-outline">
                            <input type="number" id="typeNumber2" class="form-control active" name="populationMax" value="{% if populationMax is defined %}{{ populationMax }}{% else %}0{% endif %}">
                            <label class="form-label" for="typeNumber2" style="margin-left: 0px;">Maximum</label>
                            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div></div>
                    </div>
                </div>

                <button type="submit">Filter</button>
            </form>
        </div>
        <div class="col-9">
            <table class="table">
                <thead>
                    <th>Nazwa</th>
                    <th>Powierzchnia (km. kw)</th>
                    <th>Ilosc ludnosci</th>
                </thead>
                <tbody>
                    {% for district in data %}
                        <tr>
                            <td>{{ district.name }}</td>
                            <td>{{ district.square }}</td>
                            <td>{{ district.population }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}